<div class="container mt-5">
  <h1 class="mb-4 text-center">Binance Trading Pairs for BTC (<%= @pairs_count %> available)</h1>
  <%= link_to 'Go to Favorites', favorites_path, class: 'btn btn-sm btn-primary mb-3' %>

  <div class="table-responsive">
    <table class="table table-bordered table-hover custom-table">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Symbol</th>
          <th>#</th>
          <th>Symbol</th>
          <th>#</th>
          <th>Symbol</th>
          <th>#</th>
          <th>Symbol</th>
          <th>#</th>
          <th>Symbol</th>
          <th>#</th>
          <th>Symbol</th>
          <th>#</th>
          <th>Symbol</th>
          <th>#</th>
          <th>Symbol</th>
        </tr>
      </thead>
      <tbody>
        <% @pairs.each_slice(8).with_index do |slice, index| %>
          <tr>
            <% slice.each_with_index do |pair, pair_index| %>
              <td><%= index * 8 + pair_index + 1 %></td>
              <td>
                <div class="d-flex flex-column align-items-start">
                  <%= link_to pair[:symbol].gsub('BTC', '/BTC'), "https://www.binance.com/en/trade/#{pair[:symbol]}", target: '_blank', class: 'text-primary custom-link' %>
                  <%= button_to 'Add', add_to_favorites_path(symbol: pair[:symbol]), method: :post, class: 'btn btn-sm btn-success mt-1 custom-button' %>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<style>
/* Загальний стиль для таблиці */
.custom-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.custom-table th, .custom-table td {
  text-align: center;
  padding: 12px;
  vertical-align: middle;
}

.custom-table th {
  background-color: #343a40;
  color: #ffffff;
  font-weight: bold;
}

.custom-table td {
  background-color: #f8f9fa;
}

.custom-table tbody tr:nth-child(odd) {
  background-color: #f1f1f1;
}

.custom-table tbody tr:hover {
  background-color: #e2e6ea;
  cursor: pointer;
}

/* Стиль для лінків */
.custom-link {
  font-size: 14px;
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
}

.custom-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Стиль для кнопок "Add" */
.custom-button {
  font-size: 12px;
  background-color: #28a745;
  border: none;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #218838;
  cursor: pointer;
}

/* Стиль для кнопки "Go to Favorites" */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

/* Адаптивність для малих екранів */
@media (max-width: 767px) {
  .custom-table th, .custom-table td {
    font-size: 12px;
    padding: 8px;
  }

  .btn-sm {
    font-size: 10px;
  }
}
</style>